$primary-bg: #0D1B2A;
$container-bg: rgba(255, 255, 255, 0.02);
$dark-bg: #1B2631;
$text-color: #FFFFFF;
$accent-color: #FFA726;
$font-title: 'Poppins', sans-serif;

$primary-text: #e9d9d9;
$input-border: 1px solid rgba(255, 255, 255, 0.2);
$input-bg : #00000042;
$favourite-uncheked-color : #FFFFFF;
$favourite-checked-color : #ff3f26;
$border-color-light: rgba(255, 255, 255, 0.2);
$accent-color-light: #e79720;
$secondary-text: #252424;