body {
  background-color: $primary-bg;
  color: $text-color;
  font-family: $font-title;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  margin: auto;
  padding: 10px 0;
  background: $container-bg;
  box-shadow: 0 8px 16px rgba(0,0,0,0.6);
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
  flex-wrap: wrap;

}

.title-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.title {
  font-size: 2rem;
  color: $text-color;
  text-align: center;
  margin: 0;
  padding: 0;
  
}




